<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickNote Backend</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for("static", path="/paperclip.svg") }}" />
    <style>
        body {
            background: #121212;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <br/>
    <h1>Hi! Welcome to QuickNote Backend :)</h1>
    <br/>
    <h3>If you want to see more, please refer to <a href="/docs">/docs</a> page</h3>
</body>
</html>